<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>編輯代辦事項</title>
</head>
<body>
<h1>編輯代辦事項</h1>
<form action="" method="POST">
	<input type="hidden" id="id" />
    <div>
        <label for="title">標題:</label>
        <input type="text" id="title" />
    </div>
    <div>
        <label for="dueDate">到期日:</label>
        <input type="date" id="dueDate" />
    </div>
    <div>
        <label>狀態:</label>
        <input type="radio" id="notCompleted" name="status" value="0" />
        <label for="notCompleted">未完成</label>
        <input type="radio" id="completed" name="status" value="1" />
        <label for="completed">已完成</label>
    </div>
    <div>
        <label for="memo">備註:</label>
        <input type="text" id="memo" />
    </div>
    <div>
        <button type="submit">更新待辦事項</button>
    </div>
</form>
</body>
</html>