<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>待辦事項</title>
</head>
<body>
<h1>待辦事項</h1>

<a>新增</a>

<hr/>

<table border="1">
	<tr>
		<td>使用者</td>
		<td>標題</td>
		<td>到期日</td>
		<td>狀態</td>
		<td>備註</td>
		<td>功能</td>
	</tr>
	
	<tr th:each="todo: ${todoList}">
		<td>使用者</td>
		<td th:text="${todo.title}">標題</td>
		<td th:text="${todo.dueDate}">到期日</td>
<!-- 		<td th:text="${todo.status}">狀態</td> -->
		<td th:if="${todo.status == '0'}" th:text="未完成">狀態</td>
		<td th:if="${todo.status == '1'}" th:text="已完成">狀態</td>
		<td th:text="${todo.memo}">備註</td>
		<td>
			<a>編輯</a>
			<a>刪除</a>
		</td>
	</tr>
</table>

<div>
© 2025 待辦事項. All Rights Reserved.
</div>

</body>
</html>